actividad25/actividad25.dtd

<!ELEMENT vivero (especie*)> 
<!ELEMENT especie (nombre,precio,variedad,origen,color_fruto*,otros_datos)>
<!ATTLIST especie siembra CDATA #IMPLIED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ATTLIST precio moneda CDATA #IMPLIED>
<!ELEMENT variedad (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT color_fruto (#PCDATA)>
<!ELEMENT otros_datos (maduracion,riego)>
<!ELEMENT maduracion (#PCDATA)>
<!ELEMENT riego (#PCDATA)>
